<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="index.html">
        <h1>CF Metadata</h1>
        <h5>NetCDF Climate and Forecast Metadata Convention</h5>
      </a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><a href="documents.html">Documents</a></li>
          <li><a href="conformance.html">Conformance</a></li>
          <li><a href="discussion.html">Discussion</a></li>
          <li><a href="governance.html">Governance</a></li>
          <li><a href="working-groups.html">Working Groups</a></li>
        </ul>
      </div>
      <!-- <form class="navbar-search pull-right visible-desktop" action="search.php" method="post"><input name="searchwhat" type="hidden" value="site"> -->
      <!--<input type="search" name="googleseachTerm" class="search-query span3" placeholder="search site...">-->
      <!--</form>-->
    </div>
  </div>
</div>
<div style="margin-bottom: 130px;"></div>
