verbose = "error"
no_progress = true
timeout = 300 # maximum HTTP request timeout (defaut is 20 seconds)
max_retries = 10 # increase from default (3 retries)
retry_wait_time = 2 # Minimum wait time in seconds between retries of failed requests (default: 1)

accept = ["200", "429", "403"]

exclude = [
    "cfeditor.ceda.ac.uk",                                # standard_name_rule, vocabularies, discussion
    "https://mailman.cgd.ucar.edu/pipermail/cf-metadata", # discussion, governance
    #BEGIN Data/cf-standard-names/
    "http://glossary.ametsoc.org/wiki",                   
    "https://www.unidata.ucar.edu/software/udunits/udunits-current/doc/udunits",
    "https://www.unidata.ucar.edu/software/udunits/udunits-2.2.28/udunits2.html", 
    "https://www.sciencedirect.com/science/article/pii/0967063793901018",
    "https://www.ipcc.ch/ipccreports/tar/wg1/273.htm",
    "http://mailman.cgd.ucar.edu/mailman/listinfo/cf-metadata",
    "http://gcmd.nasa.gov/Resources/valids",
    #END Data/cf-standard-names/
#    "http://mmisw.org/ont", # faq (TIMEOUT)
#    "https://mmisw.org/ont", # faq (TIMEOUT)
    "http://www.cgd.ucar.edu/cms/eaton/cf-metadata/clivar_article.pdf", # Data/cf-documents/cf-governance/cf2_whitepaper_final.html
    "http://www.cgd.ucar.edu/cms/eaton/cf-metadata/CF-current.html", # Data/cf-documents/requirements-recommendations
    "https://www.usbr.gov/lc/socal/reports/SMappend_C.pdf", # Data/area-type-table/**/build/area-type-table.html
    "https://cf-trac.llnl.gov/trac/",                     # 2018-Workshop, 2019-Workshop
    "http://mailman.cgd.ucar.edu/pipermail/cf-metadata",  # 2019-Workshop
    "https://www.wonder.me",                              # 2021-Workshop
    "https://figshare.com/account/articles/24633939",     # 2023-Workshop
    "https://figshare.com/account/articles/24633894",     # 2023-Workshop
#    "https://github.com/",                               # Uncomment if you hit GitHub Rate Limit: https://docs.github.com/en/rest/using-the-rest-api/rate-limits-for-the-rest-api
### QUARANTINE
     "https://coastwatch.pfeg.noaa.gov/erddap/convert/units.html", # faq
     "https://github.com/orgs/cf-convention/projects/1",    # Meetings/2020-Workshop.md
     "Data/cf-standard-names/current/build/kwic_index_for_cf_standard_names.html", # vocabularies (temporal issue with KWIC generator)
     "Data/cf-standard-names/86/build/kwic_index_for_cf_standard_names.html", # vocabularies (temporal issue with KWIC generator)
### 

]
exclude_path = [
    # Jekyll post build directory (i.e. _site)
    "_site/Data/cf-standard-names/docs/guidelines.html",
    "_site/Data/cf-conventions/",
    "_site/Data/Trac-tickets/",
    "_site/GDT/", # some HTML docs are invalid input encoded, choking the link checker
    "_site/CF-beta/", # some HTML docs are invalid input encoded, choking the link checker
]
