<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Climate and Forecast Metadata also know as the CF Convention or CF Metadata" />
    <meta name="author" content="Matthew Harris (mattben)">
    <link rel="shortcut icon" href="Data/media/images/favicon.ico">

    <title>{{ page.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="Data/media/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 50px;
        padding-bottom: 20px;
      }
      p a.anchor {
        display: block; 
        position: relative;
        top: -50px; 
        visibility: hidden;
      }
    </style>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="index.html"><img src="Data/media/images/logo.png" style="position: relative; top: -10px"/></a><a class="navbar-brand" href="index.html">CF MetaData</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include pages_list %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->

    <div class="container">
      {{ content }}

      <hr>

      <footer>
      <p>
      <a href="http://github.com/esgf">CODE</a> &bull;
      <a href="http://www-pcmdi.llnl.gov/">PCMDI</a> &bull;
      <a href="http://cmip-pcmdi.llnl.gov/cmip5/">CMIP5</a> &bull;
      <a href="http://www.llnl.gov/disclaimer.html">Privacy &amp; Legal Notice</a>
      </p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="Data/media/js/bootstrap.min.js"></script>
    <script src="Data/media/js/links.js"></script>

  </body>
</html>


